.navbar-brand {
  color: #a287f4 !important;
  font-family: "Shadows Into Light" !important;
}
.nav-item {
  font-family: "Special Elite" !important;
}
body {
  background: #000000;
}
h2 {
  color: #ffffff;
  font-family: "Special Elite";
  text-align: center;
}
h3 {
  color: #ffffff;
  font-family: "Special Elite";
  text-align: center;
}
h1 {
  color: #a287f4;
  font-family: "Shadows Into Light";
  text-align: center;
  font-size: 70px;
}
.top-heading {
  padding-top: 100px;
}
.code {
  color: #12e6c8 !important;
}
.header-ending {
  padding-top: 10px;
}
.tidbits {
  padding-top: 50px;
}
.tidbit-title {
  color: #a287f4;
  font-family: "Shadows Into Light";
}
p {
  color: #ffffff !important;
  font-family: "Special Elite" !important;
  font-size: 18px;
  line-height: 2.5;
}
.button-label {
  color: #a287f4 !important;
  font-family: "Shadows Into Light" !important;
  font-size: 20px !important;
}
img {
  max-width: 150px;
}
footer {
  padding-top: 45px;
}
i {
  padding: 10px;
}
.tidbit {
  padding-top: 35px;
}
.footer-name {
  font-family: "Shadows Into Light";
  color: #a287f4;
}
a {
  text-decoration: none;
  color: #a287f4;
}
